pre,p,h1,h2,h3,h4,h5,h6 {
     color: white;
 }
 

 body {
  background-image: url('/media/gifs/stars.gif');
}

a {
    color:lightblue
}

pre a {
    color: lightblue;
    text-decoration: underline;
}

p a {
    color: lightblue;
    text-decoration: underline;
}

dialog {
  width: 55%;
  max-width: 70%;
  background-color: black;
  border-color: white;
  border-style: dashed;
}

li {
    color: white;
}

.bigthing {
  display: flex;
  gap: 13px;
  width: 90%;
  max-width: 1200px;
  margin: 14px auto;
}

.side {
  flex: 1.25;
  background-color: #222;
  padding: 10px;
  border-radius: 8px;
  border-style: dashed;
  border-color: #ffffff;
}
.mainthing {
  flex: 2.75;
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  border-style: dashed;
  border-color: #ffffff;
}

.footer {
  text-align: center;
}