/*Main*/
body {
    background-color: rgb(22, 24, 31);
}

p,h1,h2,h3,h4,h5,h6 {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}  

/*Other things*/

.nav {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    margin-right: 10px;
}

.box {
  outline: 2px dashed rgb(255, 255, 255); /* red dashed outline around the div */
  padding: 10px;
  width: fit-content;
  height: fit-content;

}

.box ul {
    list-style-type: none;
    padding: 0;
}

.box1 {
  outline: 2px dashed rgb(255, 255, 255); /* red dashed outline around the div */
  padding: 10px;
  width: 500px;
  height: fit-content;
  margin-top: 20px;
}
.box a{
    margin-right: 15px;
}
a {
    font-family: 'WDXL Lubrifont SC', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: rgb(170, 170, 170);
    text-decoration: underline;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(40, 44, 52);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.box2 {
  outline: 2px dashed rgb(255, 255, 255); /* red dashed outline around the div */
  padding: 10px;
  width: 400px;
  height: fit-content;
  margin-top: 20px;
}
/* Footer */

footer {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}