/* General styles */
body {
    font-family: "Courier New", Courier, monospace;
    background-color: #2d2d2d;
    color: #d4d4d4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-bottom: 2px solid #009688;
}

/* Logo styling */
.logo {
    width: 100px;
    display: block;
    margin: 0 auto 10px;
}

/* Navigation styling */
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #009688;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styling */
main {
    flex: 1; /* Ensures the main content takes up available space, pushing the footer down */
    padding: 20px;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
    border-top: 2px solid #009688;
    font-size: 0.9em;
}
