body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    width: 100vw;
}

nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

hr {
    border: none;
    height: 3px;
    background-color: #00ff00;
}

p {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}

a {
    color: white;
}

a:hover{
    color: gray;
}

#vending-gif {
    width: 100px;
    margin-right: auto;
}

#code-ex {
    width: 800px;
    height: 250px;
}

#download-button {
    background-color: cornflowerblue;
    color: white;
    height: auto;
    width: 100px;
}

#sticky-note {
    color: #00ff00;
}

#post-check {
    background-color: darkmagenta;
    color: rgb(255, 255, 255);
    width: 150;
    height: auto;
}

#oldwin {
    height: auto;
    width: 100 px;
}